.view-tweet-component {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  border-bottom: dashed 1px #dedede;
  padding: 0.5rem 0;
  align-items: center;
}

.tweet-content {
  flex-grow: 1;  
}

.like-button {
  margin-left: 2rem;
}

.author-info {
  font-size: 0.8rem;
}