body {
  color: #dedede;
}

.app {
  background-color: #282c34;
  color: white;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1080px;
}

.app a {
  color: #61dafb;
}

.app-logo {
  height: 35vmin;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

section.content {
  padding: 2rem;
}