.app {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.app a {
  color: #61dafb;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

section.content {
  padding: 2rem;
}