
.app {
  background-color: #282c34;
  color: white;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  max-width: 65vw;
}

.app a {
  color: #61dafb;
}

.recent-tweets {
  margin-top: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

hr {
  margin: 1.5rem 0;
}

strong {
  font-weight: bold;
}